<!-- <header>
    <div class="header">
     
     <div class="left-section">
        <div class="member_link">
            <a  routerLink="/members" >Members</a>
        </div>
        
        <div class="image_link" >
            <a routerLink="/images">Images</a>
        </div>
        
     </div>

     <div class="right-section">
        <div class="contact_link">
            <a   routerLink="/contact">Contact</a>
        </div>
         
     </div>
 
    </div>
 
 
 </header> -->


 <div class="header">

    <div class="home_link">
        <a  style="text-decoration: none;" routerLink="/welcome" class="nav-link">Home</a>
     </div>

     <div class="member_link">
        <a style="text-decoration: none;" routerLink="/members" class="nav-link">Members</a>
     </div>
 
     <div class="image_link">
         <a style="text-decoration: none;" routerLink="/images" class="nav-link">Images</a>
     </div>

     <div class="contact_link">
        <a style="text-decoration: none;" routerLink="/contact" class="nav-link">Contacts</a>
     </div>
 
</div>
 
